<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's chat</title>
    <link rel="icon" href="img/chat_logo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <a class="logo" href="#">
                <img class="img-logo" src="img/chat_logo.png" alt="lets-chat-logo">
                <span class="global-chat">Global Chat</span>
            </a>
            <div class="dateTime">
                <span class="currentDate"></span>
                <span class="currentTime"></span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="messages">
            <div class="center welcome">
                Welcome to Global Chat
            </div>
        </div>
        <form class="form" action="">
            <span class="online-users">0</span>
            <input class="input" autocomplete="off" autofocus />
            <button class="send-btn">Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
</body>

</html>