<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's chat</title>
    <link rel="icon" href="img/chat_logo.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img class="img-logo" src="img/chat_logo.png" alt="lets-chat-logo">
            <span>Global Chat</span>
            <div class="dateTime">
                <span class="currentDate"></span>
                <span class="currentTime"></span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="messages">
            <div class="center welcome">
                Welcome to Global Chat
            </div>
        </div>
        <form id="form" action="">
            <input id="input" autocomplete="off" />
            <button>Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
</body>

</html>